.footer{
    background: #fff;
    padding: 1rem 0rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.link{
    font-size: 1rem;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}