.container {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/images/Office.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form {
  display: flex;
  flex-direction: column;
  max-height: 95%;
  background: #fdfeff;
  padding: 1.5rem;
  color: #022b41;
}

.title {
  font-size: 2rem; /* Tamaño base */
}

.button {
  margin-top: 1rem;
  margin-bottom: 1.4rem;
  border: solid 2px #022b41;
  background-color: transparent;
  border-radius: 55px;
  padding: 0.5rem 1rem;
  width: 13rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: #022b41;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.inputs {
  display: flex;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.input {
  border: 2px solid #cecece;
  border-radius: 7px;
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
}

.textArea {
  margin-top: 0.5rem;
  width: 100%;
  border: 2px solid #cecece;
  padding: 1rem;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: 600;
  height: 10rem;
  min-width: 10rem;
  margin-bottom: 0.5rem;
  resize: vertical;
}

.input::placeholder,
.textArea::placeholder {
  color: #022b41;
}

.input:focus {
  border-color: #0396ff;
}

.submitButton {
  border: 2px solid #022b41;
  color: #022b41;
  border-radius: 7px;
  background: transparent;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-bottom: 1rem;
}

.submitButton:hover {
  background-color: #022b41;
  color: #fdfeff;
}

.error{
  color:red;
}

.errorArea{
  margin-top: 0.5rem;
  color:red;
}

/* Ajustes responsivos */
@media only screen and (min-width: 300px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 1.4rem; /* Disminuye el tamaño en pantallas pequeñas */
  }

  .form {
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 90%;
  }

  .inputs{
    flex-direction: column;
  }

  .input, .textArea, .submitButton {
    font-size: 0.9rem; /* Reduce ligeramente el tamaño de las fuentes en móviles */
  }
}

@media only screen and (min-width: 600px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 1.8rem; /* Aumenta el tamaño de la fuente en pantallas medianas */
  }

  .input, .textArea, .submitButton {
    font-size: 1rem; /* Ajuste adecuado para tabletas */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 2rem; /* Tamaño base adecuado para pantallas más grandes */
  }

  .form {
    width: 80%;
  }

  .input, .textArea, .submitButton {
    font-size: 1.1rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    flex-direction: row;
  }

  .title {
    font-size: 2rem; /* Aumenta el tamaño de la fuente en pantallas grandes */
  }

  .button{
  font-size: 0.8rem;
  }

  .input, .textArea, .submitButton {
    font-size: 1.2rem; /* Aumenta ligeramente el tamaño en pantallas grandes */
  }

  .form{
    width: 60%;
  }
}
