.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fdfeff;
  width: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.button {
  margin-bottom: 1.4rem;
  border: solid 2px #fdfeff7c;
  background-color: transparent;
  border-radius: 55px;
  padding: 0.5rem 1rem;
  width: fit-content;
  color: #fdfeff;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.contactButton {
  margin-top: 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: transparent;
  background-color: #fdfeff;
  border-radius: 55px;
  padding: 1rem 1.5rem;
  width: fit-content;
  color: #022b41;
}

.button:hover {
  border: solid 2px #fdfeff;
}

.h1 {
  margin-bottom: 8rem;
}

.underline {
  border-bottom: 4px solid #0396ff;
  padding-bottom: 0.2rem;
}

.divisor {
  width: 100%;
  height: 1px;
  border: none;
  background: #43698b;
  margin-bottom: 2.5rem;
}

.p {
  font-size: 1.4rem;
}

@media only screen and (min-width: 300px) {
  .container {
    width: 100%;
    height: 90vh;
  }

  .info {
    width: 90%;
  }
  .h1 {
    font-size: 2.8rem;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 100%;
  }

  .info {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    flex-direction: row;
  }
  .info {
    width: 60%;
  }
  .h1 {
    font-size: 3.2rem;
  }
}
