.container {
  display: flex;
  gap: 1.5rem;
  width: 90%;
}

.navContainer {
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar {
  display: flex;
  list-style: none;
  font-weight: 700;
  align-items: center;
  gap: 1.5rem;
  padding-left: 1.9rem;
}

.logo {
  color: #022b41;
  font-size: 2.8rem;
  font-weight: 800;
  width: 2.5rem;
  text-decoration: none;
  padding-right: 4.25rem;
}

.divisor {
  width: 2px;
  height: 30px;
  border: none;
  padding-top: 2rem;
  background: #cecece;
}

.item {
  text-decoration: none;
  color: #022b41;
  font-size: 1.15rem;
  padding-top: 50px;
  transition: all 0.5s ease-in-out;
}

.item:hover {
  color: #59768a;
}

.dif {
  color: #59768a;
}

.button {
  margin-left: auto;
  border: solid 2px #022b41;
  background-color: transparent;
  border-radius: 55px;
  width: 13.8rem;
  height: 3.2rem;
  color: #022b41;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 1.6rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.button:hover {
  background-color: #022b41;
  color: #fdfeff;
  box-shadow: 0px 5px 15px rgba(44, 68, 90, 0.5);
}

.mobileMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #022b41;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileNavBar {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.mobileNavBar li {
  margin-bottom: 20px;
}

.mobileNavBar .item {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

.menu {
  margin-left: auto;
  background: transparent;
  border: none;
}

@media only screen and (min-width: 300px) {
  .navBar,
  .button {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .navBar,
  .button {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .navBar,
  .button {
    display: none;
  }

  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .navBar {
    display: flex;
  }

  .button {
    display: block;
  }

  .menu {
    display: none;
  }
}
