.container {
  display: flex;
  width: 84.2%;
  gap: 1.5rem;
}

.navContainer {
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar {
  display: flex;
  list-style: none;
  font-weight: 700;
  align-items: center;
  gap: 1.5rem;
}

.logo {
  color: #022b41;
  font-size: 2.8rem;
  font-weight: 800;
  width: 2.5rem;
  text-decoration: none;
  margin-right: 1.25rem;
}

.divisor {
  margin-left: 3px;
  width: 2px;
  height: 30px;
  margin-right: 1.9rem;
  border: none;
  padding-top: 2rem;
  background: #cecece;
}

.item {
  text-decoration: none;
  color: #022b41;
  font-size: 1.15rem;
  padding-top: 50px;
  transition: all 0.5s ease-in-out;
}

.item:hover {
  color: #59768a;
}

.button{
  margin-left: auto;
  border: solid 2px #022b41;
  background-color: transparent;
  border-radius: 55px;
  width: 13.8rem;
  height: 3.2rem;
  color: #022b41;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 1.6rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.button:hover {
  background-color: #022b41;
  color: #fdfeff;
  box-shadow: 0px 5px 15px rgba(44, 68, 90, 0.5);
}
